.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: #fefae0
}


ul, ol {
  list-style-type: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  margin: 0;
}

h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 5px 0;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
}

nav {
  font-family: 'Poppins', sans-serif;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 0.75em;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 25px 0;
}


img {
  width: 100%;
  max-height: 100%;
}

.retreatImage {
  width: 100%;
  max-height: 100%;
}


figure {
  margin: 1% 0;
}

/*--------Base Header - Footer styles -------*/

header  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283618;
}


/* Precicle logo */

header figure {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */

.menu-bar {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  justify-content: center;
  font-size: 1.5em;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap; 
  font-size: 1em;
  font-weight: 500;
}

.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  width: 30%;
}

header nav ul {
  display: flex;
  justify-content:space-around;
  flex-flow: row wrap;
  width: 10%;
  padding: 0;
}


.show-nav {
  height: 100px;
}

/* -------Hero Section -----------*/

.heroBackground {
  display: flex;
  justify-content: center;  
  background: #283618;
  max-height: 500px;
  margin: 0;
}

.image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

.arrows {
  display: flex;
  align-items: center;
  margin: 0 10% 0 10%;
  color: white;
}

#left-arrow {
  margin-left: 15%;
  margin-right: 3%;
}

#right-arrow {
  margin-right: 15%;
  margin-left: 3%;
}

/*--------Footer styles -------*/

footer {
  background: #fefae0;
  width: 100%;
}


footer .content-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}


footer .social-icons {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display:flex;
  justify-content: space-around; 
  align-items: center;
}

footer .contact p {
  margin-bottom: 35px;
}

.icons {
  border-radius: 30px;
  width: 2.25em;
  height: 2.25em;
  background: #bc6c25;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

 /* Sign up form designs */
 aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #606c38;
}

.form input {
  margin: 5px 0 5px 0;
}


aside .form {
  margin-top: 10px;
}

input[type=text] {
  width: 90%;
  color: #040e0a;
  font-style: italic;
  padding: 1em;

}

input[type=button] {
  width: 100%;
  padding: 0.75em;
  background-color: #283618;
  font-family: 'Poppins', Helvetica, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}







@media screen and (min-width: 768px) {
  
  
  /*--------Header styles -------*/

  header {
    display: flex;
    justify-content: space-around;
    max-height: 400px;
    
  }
  
  header figure {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-left: 1rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }

  .content-wrapper {
    max-width: 640px;
    margin: 75px 0;
  }
 
.menu-bar {
  display: none;
}

.nav {
  width: 100%;
  display: flex;
  font-weight: 600;
}


.nav ul {
  justify-content: space-between;
  flex-flow: row;
  font-size: 1.40em;
  width: 90%
}



 /*--------Aside styles Homepage -------*/

 aside .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 50px 0;
}

aside .content-wrapper .form-description , 
aside .content-wrapper .form {
width: 45%;
margin: 0;
}


/*--------Footer styles -------*/


footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

footer .content-wrapper {
  margin-top: 2%;
}

.contact {
  margin-right: 10%;
}

.social {
  margin-left: 10%;
}

.icons  {
  margin: 0 10px;
}

footer h4 {
  padding-bottom: 15px;
}

}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
