.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: #fefae0
}


ul, ol {
  list-style-type: none;
}

a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-size: 2.25em;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875em;
  font-weight: 500;
  margin: 0;
}

h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 5px 0;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
}

nav {
  font-family: 'Poppins', sans-serif;
}

.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 25px 0;
}


img {
  width: 100%;
  max-height: 100%;
}

figure {
  margin-bottom: 1%;
}

/*--------Base Header - Footer styles -------*/

header  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #283618;
}


/* Precicle logo */

header figure {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation Bar */

.menu-bar {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  justify-content: center;
  font-size: 1.5em;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap; 
  font-size: 1em;
  font-weight: 500;
}

.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  width: 20%;
}

header nav ul {
  display: flex;
  justify-content:space-around;
  flex-flow: row wrap;
  width: 10%;
  padding: 0;
}


.show-nav {
  height: 100px;
}

/* -------Hero Section -----------*/

.heroBackground {
  display: flex;
  justify-content: center;  
  background: #283618;
  max-height: 500px;
  margin: 0;
}

.image {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

}

.arrows {
  display: flex;
  align-items: center;
  margin: 0 10% 0 10%;
  color: white;
}

#left-arrow {
  margin-left: 15%;
  margin-right: 3%;
}

#right-arrow {
  margin-right: 15%;
  margin-left: 3%;
}






@media screen and (min-width: 768px) {
  
  
  /*--------Header styles -------*/

  header {
    display: flex;
    justify-content: space-around;
    
  }
  
  header figure {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-btn {
    display: none;
  }

  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }

  .content-wrapper {
    max-width: 640px;
    margin: 75px 0;
  }
 
.menu-bar {
  display: none;
}

header nav {
  width: 100%;
  display: flex;
  flex: row;
  font-weight: 600;
}


header nav ul {
  justify-content: space-between;
  font-size: 1.40em;
  width: 90%
}




}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
